h1 {
    margin: auto;
    margin-bottom: 100px;
    text-align: center;
}

table {
    margin: auto;
}
/*
.plrAction1 {
    margin-left: 100px;
}

.plrAction2 {
    margin-left: 100px;
}
*/
button {
    margin-right: 100px;
    margin-left: 100px;
}

#reset {
    text-align: center;
    margin: 100px;
}

.health {
    padding-left: 200px;
}

#leftPic {
    margin-left: 100px;
}

#rightPic {
    margin-left: 100px;
}
#img1 {
    padding-left: 150px;
}

#img2 {
    padding-left: 100px;
}
